<apex:page standardController="Faktura__c" renderAs="pdf">
    
    <apex:stylesheet value="{!URLFOR($Resource.CssStyle, 'style.css')}"/>
        
    <div class="invoice-box">
    
        <apex:image width="25%"  value="{!URLFOR($Resource.Zdroje, 'logo.png')}"/>
    
        <table cellpadding="0" cellspacing="0">
            <tr class="titul">
                <td>
                    <table>
                        <tr>
                            <td>
                                <h1>Faktura - danovy doklad</h1>
                            </td>
                        </tr>
                    </table>    
                </td>
            </tr>
            
            <tr class="informace">
                <td>
                    <table>
                        <tr>
                            <th>Dodavatel</th>
                            <th>Odberatel</th>
                        </tr>
                        <tr>
                            <td>
                                {!$Organization.Name}
                                {!$Organization.Street}
                                {!$Organization.City}
                                {!$Organization.State}
                            </td>
                            <td>
                                <apex:outputField value="{!Faktura__c.Account__c}"/> <br/>
                                <apex:outputField value="{!Faktura__c.Adresa__c}"/>                             
                            </td>
                            <td>
                                <apex:outputText value="Variabilni symbol: {!Faktura__c.Name}"/> <br/>
                                <apex:outputText value="Datum vystaveni: {!Faktura__c.Datum_vytvo_en__c}"/> <br/>      
                                <apex:outputText value=" Datum splatnosti: {!Faktura__c.Datum_splatnosti__c}"/> <br/>      
                                <apex:outputText value=" Datum zdanitelneho plneni: {!Faktura__c.Datum_zdaniteln_ho_pln_n__c}"/> 
                            </td>                            
                        </tr>
                    </table>
                </td>
            </tr>
            
    <apex:dataTable value="{!Faktura__c.polozky__r}" var="polozky" headerClass="tabulkaPolozky" rowClasses="odd,even">
        <apex:column >
            <apex:facet name="header">Název</apex:facet>
            <apex:outputText >{!polozky.Name}</apex:outputText>
        </apex:column>
        <apex:column >            
            <apex:facet name="header">Množství</apex:facet>
            <apex:outputText >{!polozky.Mnozstvi__c}</apex:outputText>
        </apex:column>
        <apex:column >
            <apex:facet name="header">Jednotková cena (bez DPH)</apex:facet>
            <apex:outputText >{!polozky.Jednotkov_cena_bez_DPH__c}</apex:outputText>            
        </apex:column>
        <apex:column >
            <apex:facet name="header">Jednotková cena (s DPH)</apex:facet>
            <apex:outputText >{!polozky.Jednotkova_cena__c}</apex:outputText>            
        </apex:column>
    </apex:dataTable>
    </table>
      
       <table cellpadding="0" cellspacing="0">
            <tr class="cenyCelkem">
                <td>
                    <table>
                        <tr>
                            <td>
                                Celkem bez DPH:
                            </td>
                            <td>
                                <apex:outputField value="{!Faktura__c.Celkov_cena_bez_DPH__c}"/>
                            </td>            
                        </tr>
                        <tr>
                            <td>
                                Celkem:
                            </td>
                            <td>
                                <apex:outputField value="{!Faktura__c.Celkov_cena_s_DPH__c}"/>
                            </td> 
                        </tr>
                    </table>
                </td>   
            </tr>
        </table>
        
    </div>
            
</apex:page>